
<ion-view title="{{data.routeName}} - {{ 'filter-' + filter | i18n}}">


    <ion-content>

        <div class="list filter-{{filter}}">
            <!--<div class="bar bar-header bar-balanced">
                <h1 class="title">bar-balanced</h1>
            </div>-->
            <!--<div class="list" ng-if="role=='2'">-->
            <div class="list">
                <!--<div class="distribution-approval-container" ng-if="((filter=='canceled' && count.canceled > 0) || (filter=='new' && count.new > 0) || (filter=='complaints' && count.complaints > 0) || (filter=='changed' && count.changed > 0))">

                    <label class="checkbox" ng-if="(filter=='canceled' && count.canceled > 0)">
                        <input type="checkbox" ng-model="canceledApproved" ng-true-value="YES" ng-false-value="NO" data-ng-click="setDistributionApproval('canceled',$event)">
                    </label>

                    <label class="checkbox" ng-if="(filter=='new' && count.new > 0)">
                        <input type="checkbox" ng-model="newApproved" ng-true-value="YES" ng-false-value="NO" data-ng-click="setDistributionApproval('new',$event)">
                    </label>

                    <label class="checkbox" ng-if="(filter=='complaints' && count.complaints > 0)">
                        <input type="checkbox" ng-model="complaintsApproved" ng-true-value="YES" ng-false-value="NO" data-ng-click="setDistributionApproval('complaints',$event)">
                    </label>

                    <label class="checkbox" ng-if="(filter=='changed' && count.changed > 0)">
                        <input type="checkbox" ng-model="changedApproved" ng-true-value="YES" ng-false-value="NO" data-ng-click="setDistributionApproval('changed',$event)">
                    </label>

                    <h4 class="title">{{'distributionapproval' | i18n}}</h4>

                </div>-->

                <div class="distribution-approval-container" ng-if="(filter=='changed' && count.changed > 0)">

                    <label class="checkbox" ng-if="(filter=='changed' && count.changed > 0)">
                        <input type="checkbox" ng-model="changedApproved" ng-true-value="YES" ng-false-value="NO" data-ng-click="setDistributionApproval('changed',$event)">
                    </label>

                    <h4 class="title">{{'distributionapproval' | i18n}}</h4>

                </div>
            </div>

            <div ng-if="filter!='totals' && filter!='changed'" ng-repeat="item in visibleData"
                 class="item item-icon-{{appSide}}  item-icon-{{appOside}} routeItem"
                 ng-class="(item.complaints && item.complaints.length > 0 ?'routeItem-complaint':(item.CompareTypesString != null && item.CompareTypesString.indexOf('1') > -1 ? 'routeItem-new':'routeItem-normal'))"
                 ng-class="{'item-energized': item.DistributionItemId == selectedItemId }">
                <div ng-click="showItem(item)">
                    <i class="icon ion-chevron-left " ng-class="ion-chevron-{{appOside}}"></i>
                    <i class="icon " ng-class="{'assertive': item.Position == 0 }">{{ item.Position}}</i>
                    <span class="item-note ">{{" #" + ($index + 1)}} &nbsp;</span>
                    <div ng-click="selectItem(item)" class="white-space-wrap dark text-medium  ">{{   (item.FirstName || "") + " " + (item.LastName || "") + " [" + item.PublicationCode + " - " + item.Quantity + "]"}}</div>
                    <div class="white-space-wrap bold">{{  item.StreetName + " " + item.StreetNumber + ", " + item.City }}</div>
                    <span ng-if="item.Entrance">{{'entrance' | i18n }}: </span><span class="bold">{{item.Entrance  }}</span>
                    <span ng-if="item.Floor">{{'floor' | i18n }}: </span><span class="bold">{{item.Floor  }}</span>
                    <span ng-if="item.Apartment">{{'apartment' | i18n }}: </span><span class="bold">{{item.Apartment  }}</span>
                    <small ng-show="item.DeliveryTime" class="white-space-wrap balanced"><i class="ion-checkmark"></i>  {{'DeliverdOn' | i18n }} {{  item.DeliveryTime  | referenceTime}}</small>
                </div>
                <div class="routeOrderButton" ng-if="filter=='reorder'">
                    <button class="button   button-balanced"
                            data-ng-click="reorderItem(item, $index, $index+1,$event)">
                        <i class="icon ion-arrow-down-c"></i>
                    </button>
                    <button class="button  button-assertive"
                            data-ng-click="reorderItem(item, $index, $index-1,$event)">
                        <i class="icon ion-arrow-up-c"></i>
                    </button>
                    <button class="button button-positive"
                            data-ng-click="setItemOrder(item,$event)">
                        <i class="icon ion-edit"></i>
                    </button>
                </div>
            </div>

            <div ng-if="filter=='changed'" ng-repeat="cd in changedData" style="margin-bottom:30px;">
                <div class="item routeItem" style="background-color:#6E9ECF;">
                    <div class="bold" style="width:90%; float:{{appSide}}; color: #ffffff;">{{cd.header}}</div>
                    <div style="width:10%; position: relative; float:{{appOside}};"><span style="background-color: #ffffff;padding: 2px 5px 0px 6px;border-radius: 10px;font-size: 16px;color: #000000;">{{cd.count}}</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div ng-repeat="item in cd.visibleData"
                     class="item item-icon-{{appSide}}  item-icon-{{appOside}} routeItem"
                     ng-class="(item.complaints && item.complaints.length > 0 ?'routeItem-complaint':(item.CompareTypesString.indexOf('1') > -1 ? 'routeItem-new':'routeItem-normal'))"
                     ng-class="{'item-energized': item.DistributionItemId == selectedItemId }">
                    <div ng-if="cd.compareData!=0" ng-click="showItem(item)">
                        <i class="icon ion-chevron-left " ng-class="ion-chevron-{{appOside}}"></i>
                        <i class="icon " ng-class="{'assertive': item.Position == 0 }">{{ item.Position}}</i>
                        <span class="item-note ">{{" #" + ($index + 1)}} &nbsp;</span>
                        <div ng-click="selectItem(item)" class="white-space-wrap dark text-medium  ">{{   (item.FirstName || "") + " " + (item.LastName || "") + " [" + item.PublicationCode + " - " + item.Quantity + "]"}}</div>
                        <div class="white-space-wrap bold">{{  item.StreetName + " " + item.StreetNumber + ", " + item.City }}</div>
                        <span ng-if="item.Entrance">{{'entrance' | i18n }}: </span><span class="bold">{{item.Entrance  }}</span>
                        <span ng-if="item.Floor">{{'floor' | i18n }}: </span><span class="bold">{{item.Floor  }}</span>
                        <span ng-if="item.Apartment">{{'apartment' | i18n }}: </span><span class="bold">{{item.Apartment  }}</span>
                        <small ng-show="item.DeliveryTime" class="white-space-wrap balanced"><i class="ion-checkmark"></i>  {{'DeliverdOn' | i18n }} {{  item.DeliveryTime  | referenceTime}}</small>
                    </div>
                    <div ng-if="cd.compareData==0">
                        <!--<i class="icon ion-chevron-left " ng-class="ion-chevron-{{appOside}}"></i>
            <i class="icon " ng-class="{'assertive': item.Position == 0 }">{{ item.Position}}</i>-->
                        <span class="item-note ">{{" #" + ($index + 1)}} &nbsp;</span>
                        <div ng-click="selectItem(item)" class="white-space-wrap dark text-medium  ">{{   (item.FirstName || "") + " " + (item.LastName || "") + " [" + item.PublicationCode + " - " + item.Quantity + "]"}}</div>
                        <div class="white-space-wrap bold">{{  item.StreetName + " " + item.StreetNumber + ", " + item.City }}</div>
                        <span ng-if="item.Entrance">{{'entrance' | i18n }}: </span><span class="bold">{{item.Entrance  }}</span>
                        <span ng-if="item.Floor">{{'floor' | i18n }}: </span><span class="bold">{{item.Floor  }}</span>
                        <span ng-if="item.Apartment">{{'apartment' | i18n }}: </span><span class="bold">{{item.Apartment  }}</span>
                        <!--<small ng-show="item.DeliveryTime" class="white-space-wrap balanced"><i class="ion-checkmark"></i>  {{'DeliverdOn' | i18n }} {{  item.DeliveryTime  | referenceTime}}</small>-->
                    </div>
                </div>
            </div>
            
            <!--<div ng-if="filter=='totals' && role=='2'">-->
            <div ng-if="filter=='totals'">

                <div class="item routeItem" ng-repeat="publication in publications">
                    <div ng-class="(publication.Count==0?'bold':'')" style="width:90%; float:{{appSide}};">{{publication.OutputDisplayName}}</div>
                    <div ng-if="publication.Count > 0" style="width:10%; position: relative; float:{{appOside}};"><span style="background-color: #45B64A;padding: 2px 5px 0px 6px;border-radius: 10px;font-size: 16px;color: #fff;">{{publication.Count}}</span></div>
                    <div style="clear:both;"></div>
                </div>

                <!--<div class="item routeItem">
                    <div style="width:90%; float:{{appSide}};">{{'totals-newSubscribers' | i18n }}</div>
                    <div style="width:10%; position: relative; float:{{appOside}};"><span style="background-color: #6E9ECF;padding: 2px 5px 0px 6px;border-radius: 10px;font-size: 16px;color: #fff;">{{totals.newSubscribers}}</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="item routeItem">
                    <div style="width:90%; float:{{appSide}};">{{'totals-complaints' | i18n }}</div>
                    <div style="width:10%; position: relative; float:{{appOside}}"><span style="background-color: #EF4437;padding: 2px 5px 0px 6px;border-radius: 10px;font-size: 16px;color: #fff;">{{totals.complaints}}</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="item routeItem">
                    <div style="width:90%; float:{{appSide}};">{{'totals-removedSubscribers' | i18n }}</div>
                    <div style="width:10%; position: relative; float:{{appOside}};"><span style="background-color: #29ABA4;padding: 2px 5px 0px 6px;border-radius: 10px;font-size: 16px;color: #fff;">{{totals.removedSubscribers}}</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="item routeItem">
                    <div style="width:90%; float:{{appSide}};">{{'totals-addressChange' | i18n }}</div>
                    <div style="width:10%; position: relative; float:{{appOside}};"><span style="background-color: #8a6de9;padding: 2px 5px 0px 6px;border-radius: 10px;font-size: 16px;color: #fff;">{{totals.addressChange}}</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="item routeItem">
                    <div style="width:90%; float:{{appSide}};">{{'totals-locationChange' | i18n }}</div>
                    <div style="width:10%; position: relative; float:{{appOside}};"><span style="background-color: #8a6de9;padding: 2px 5px 0px 6px;border-radius: 10px;font-size: 16px;color: #fff;">{{totals.locationChange}}</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="item routeItem">
                    <div style="width:90%; float:{{appSide}};">{{'totals-quantityChange' | i18n }}</div>
                    <div style="width:10%; position: relative; float:{{appOside}};"><span style="background-color: #8a6de9;padding: 2px 5px 0px 6px;border-radius: 10px;font-size: 16px;color: #fff;">{{totals.quantityChange}}</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="item routeItem">
                    <div style="width:90%; float:{{appSide}};">{{'totals-packagingChange' | i18n }}</div>
                    <div style="width:10%; position: relative; float:{{appOside}};"><span style="background-color: #8a6de9;padding: 2px 5px 0px 6px;border-radius: 10px;font-size: 16px;color: #fff;">{{totals.packagingChange}}</span></div>
                    <div style="clear:both;"></div>
                </div>-->
            </div>

        </div>
    </ion-content>



    <div class="tabs-icon-top">
        <div class="tabs">
            <a class="button button-clear tab-item tab-item-active button-balanced"
               data-ng-click="setFilter('reorder', 1)">
                <i class="icon " ng-class="(filter=='reorder'?'ion-ios-list':'ion-ios-list-outline')"></i>
                <span class="tab-title">{{'order' | i18n }} </span>
            </a>
            <!--<a class="button button-clear tab-item tab-item-active" ng-class="(count.all?'button-balanced':'button-dark')"
               data-ng-click="setFilter('all', count.all)">
                <i class="icon " ng-class="(filter=='all'?'ion-ios-checkmark':'ion-ios-checkmark-outline')"></i>
                <span class="tab-title">{{'filter-all' | i18n}} ({{count.all}})</span>
            </a>
            <a class="button button-clear   tab-item tab-item-active" ng-class="(count.complaints?'button-assertive':'button-dark')"
               data-ng-click="setFilter('complaints', count.complaints)">
                <i class="icon " ng-class="(filter=='complaints'?'ion-ios-information':'ion-ios-information-outline')"></i>
                <span class="tab-title">{{'filter-complaints' | i18n }} ({{count.complaints}})</span>
            </a>
            <a class="button button-clear  tab-item tab-item-active" ng-class="(count.new?'button-positive':'button-dark')"
               data-ng-click="setFilter('new', count.new)">
                <i class="icon " ng-class="(filter=='new'?'ion-ios-plus':'ion-ios-plus-outline')"></i>
                <span class="tab-title">{{'filter-new' | i18n }} ({{count.new}})</span>
            </a>
            <a class="button button-clear tab-item tab-item-active" ng-class="(count.canceled?'button-energized':'button-dark')"
               data-ng-click="setFilter('canceled', count.canceled)">
                <i class="icon " ng-class="(filter=='canceled'?'ion-ios-close':'ion-ios-close-outline')"></i>
                <span class="tab-title">{{'filter-canceled' | i18n }} ({{count.canceled}})</span>
            </a>-->
            <a class="button button-clear tab-item tab-item-active" ng-class="(count.changed?'button-positive':'button-dark')"
               data-ng-click="setFilter('changed', count.changed)">
                <i class="icon " ng-class="(filter=='changed'?'ion-ios-compose':'ion-ios-compose-outline')"></i>
                <span class="tab-title">{{'filter-changed' | i18n }} ({{count.changed}})</span>
            </a>
            <!--<a ng-if="role=='2'" class="button button-clear tab-item tab-item-active" ng-class="(publications?'button-royal':'button-dark')"
               data-ng-click="setFilter('totals', publications.length)">-->
            <a class="button button-clear tab-item tab-item-active" ng-class="(publications?'button-royal':'button-dark')"
               data-ng-click="setFilter('totals', publications.length)">
                <i class="icon " ng-class="(filter=='totals'?'ion-ios-paper':'ion-ios-paper-outline')"></i>
                <span class="tab-title">{{'filter-totals' | i18n }}</span>
            </a>


        </div>
    </div>
</ion-view>
