﻿<div class="calendarTableWrapper">
    <div data-ng-if="!dates.length && !loading">
        <span></span>
    </div>
     
    <div class="row">
        <div class="with10 alignCenter " data-ng-click="prevMonth(month.month,month.year);"><i data-ng-if="prevAvailable" class="ion-chevron-{{ $root.appSide }}"></i></div>
        <div class="with80 monthHeader alignCenter col-80 orange-dark bold" rowspan="{{(month.weeks.length)}}">{{ month.name }}</div>
        <div class="with10 alignCenter" data-ng-click="nextMonth(month.month,month.year);"><i class="ion-chevron-{{ $root.appOside }}"></i></div>
    </div>
  
    <table cellspacing="0" cellpadding="0" border="0" class="calendarTable">
        <thead>
            <tr>

                <th><span>SUN</span></th>
                <th><span>MON</span></th>
                <th><span>TUE</span></th>
                <th><span>WED</span></th>
                <th><span>THU</span></th>
                <th><span>FRI</span></th>
                <th><span>SAT</span></th>
            </tr>


        </thead>
        <tbody id="tBody">

            <tr data-ng-repeat="week in month.weeks">

                <td data-ng-repeat="d in week">
                    <div data-ng-if="d.available"  class='calendarDay available' data-ng-click='selectCalender(obj, $event,serviceId, d.calendarId, d.calendarDate)'>
                        <div class="circle"  data-ng-class='(d.calendarId==0)? "circle-text bgWhite orange-dark bold":"circle-text bgGreen white"'><div>{{ d.day }}</div></div>
                       <!-- <div class="circle content" data-ng-class='(d.calendarId==0)? "orange-dark bold":"greenCircle "' data-ng-bind="d.day"></div>-->
                    </div>
                    <div data-ng-if="(!d.available)" class='calendarDay' data-ng-class='(d.day==0)? "empty":"notAvailable"'>
                        <div class="dummy"></div>
                        <div class="circle content" data-ng-class='(d.calendarId==0)? "orange-dark bold":"greenCircle "' data-ng-bind="(d.day!=0)? d.day:null "></div>
                    </div>
                </td>
                <td data-ng-if="week.length<=1"></td>
                <td data-ng-if="week.length<=2"></td>
                <td data-ng-if="week.length<=3"></td>
                <td data-ng-if="week.length<=4"></td>
                <td data-ng-if="week.length<=5"></td>
                <td data-ng-if="week.length<=6"></td>
                <td data-ng-if="week.length<=7"></td>
            </tr>
        </tbody>
    </table>
    <div class="selectTime">
            <ion-scroll  direction="x" class="wide-as-needed" remember-scroll="true">
                 <div class="timeItem" data-ng-repeat="t in Time" remember-scroll="true">
                         <div data-ng-click="timeSelected(t.Time)"> 
                           <span class="time" >  {{ t.Time | hour }} </span>   <span class="ampm"> {{ t.Time | ampm }}</span>
                         </div>
                  </div>
                  
                  
             </ion-scroll>

          <!-- <ion-scroll on-scroll="hourScroll()"  direction="x"  delegate-handle="myScroll" class="wide-as-needed hourConatiner" remember-scroll="true">
                 <div class="hourConatiner">
            <div class="hourscroll">   
                <div  data-ng-repeat="t in Time">
                <div class="hour" data-val="( t.Time | hour )">{{ t.Time | hour }}</div>
                    </div>
            <div class="mark"></div>
        </div>

     
                  
             </ion-scroll>-->


       
           <!-- <ion-infinite-scroll class="smallIcon"  data-ng-if="moreToLoad"  on-infinite="loadMore()" distance="10%">
             </ion-infinite-scroll>-->


    </div>

    <div class="row">
        <div class="col bookitCubeGray"> Not Available</div>
        <div class="col padding0">
                <div class="middleCube">   
                    <div class="blackText"> <div class="circle-text bgBlue"><div class="fz-15 white">+</div></div> </div>
                    <div class="blackText"> Book it</div>
                </div>
          </div>  
        <div class="col bookitCubeGray"> Not Available</div>
    </div>
   
    <div class="enter"></div>
</div>
