﻿<div class="row">
    <div class="col col-center">
        <div class="itemName gray-dark">{{ location.LocationName }} <i class="ion-information-circled gray" data-ng-click=""></i></div>

        <span class="gray-light inlineB">{{ location.Address1 }} </span>
        <span class="gray-light inlineB">{{ location.City }}</span>
        <!-- <span class="gray bold inlineB">{{ unitFormat.formatDistance(location.Distance) }}</span>-->
        <div>
            <span class="gray-dark bold inlineB">{{ unitFormat.formatDistance(location.Distance) }}</span>
        </div>
    </div>
    <div class="col-10">
    </div>
    <div class="col-15">
        <div class="clock" data-ng-class="(service.WaitingTime > 0 )? 'clockBlue':'clockRed'">{{ location.WaitingTime }}</div>
    </div>
    <div class="col-5" data-ng-if="showLink">
        <a data-ng-click="locationSelect(location.LocationId,location.ServiceCount)">
            <img class="margin5" data-ng-src="img/arrow-{{appOside}}.png" />
        </a>
    </div>

</div>
