<ion-side-menus >

    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
           

            <ion-nav-buttons side="left">
                <button ng-show="showMenu" class="button button-icon button-clear ion-navicon" menu-toggle="left" style="position:absolute;left:11px;"></button>
            </ion-nav-buttons>
            
            <ion-nav-back-button class="button button-icon button-clear  ion-chevron-{{appSide}}" >
            </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="dark-bg">
        <header class="bar bar-header bar-dark">
            <h1 class="title">{{'menu' | i18n}}</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <a nav-clear menu-close class="item item-icon-{{appSide}} item-dark" href="#/app/home"><i class="icon ion-home"></i>{{'myTasks' | i18n}}</a>
                <a nav-clear menu-close class="item item-icon-{{appSide}} item-dark" href="#/app/notification"><i class="icon ion-chatboxes"></i>{{'notifications' | i18n}}</a>
                <a nav-clear menu-close class="item item-icon-{{appSide}} item-dark" href="#/app/changePassword/false"><i class="icon ion-settings"></i>{{'changePassword' | i18n}}</a>
                <a nav-clear menu-close class="item item-icon-{{appSide}} item-dark " ng-click=" signout()"><i class=" icon ion-log-out"></i>{{'signOut' | i18n}}</a>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>



<!--<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-buttons side="right">
                <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="left">
                <ion-nav-back-button class="button-clear">
                    <i class="icon ion-chevron-{{appSide}}"></i>
                </ion-nav-back-button>
                <a class="button button-clear" ng-href="#app/signin">
                    <i class="icon ion-home"></i>
                </a>
            </ion-nav-buttons>

            
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <header class="bar bar-header bar-stable">
            <h1 class="title">{{'menu' | i18n}}</h1>
        </header>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close>
                    &nbsp;
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/home">
                    {{'myTasks' | i18n}}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="login()" href="#">
                    {{'signOut' | i18n}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>-->
