<ion-view title="{{ 'myTasks' | i18n}}">
    

    <ion-content >
        <ion-refresher pulling-text="Pull to refresh..." refreshing-icon="ion-load-c ion-spin"
                       on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-show="!online">network is not avilable </div>
        
        <div class="list">
            <div class="item  item-dark white-space-wrap" ng-if="(!data.Routes || !data.Routes.length) && (!data.Districts || !data.Districts.length)">
                {{'noTasks' | i18n}}

            </div>
        </div>

                
        <div class="list card" data-ng-repeat="route in data.Routes" >

            <div class="item item-icon-{{appSide}} item-positive ">
                <i class="icon ion-paper-airplane"></i>
                <div class="white-space-wrap">{{ route.RouteName + (route.Part? "(" + route.Part + ")":"")  }}</div>
                <span class="">{{route.DistributionDate | referenceDate}}</span>
            </div>

            <div class="item item-icon-{{appSide}}">
                <i class="icon ion-pull-request"></i>
                {{'stops' | i18n}}
                {{ route.StopsDelivered}}/{{route.StopsTotal}}
            </div>
            <div class="item item-icon-{{appSide}}">
                <i class="icon ion-clock"></i>
                {{'startTime' | i18n}}
                {{ route.StartTime | referenceTime}}
            </div>

            <div class=" button-bar bar-dark">
                <button ng-if="route.StartTime" class="button" data-ng-click="routeContinue(route.DistributionId, route.RouteId, route.Part )">
                    <i class="icon ion-play"></i>
                    {{'continue' | i18n}}
                </button>
                <button ng-if="!route.StartTime" class="button  " data-ng-click="routeStart(route.DistributionId, route.RouteId, route.Part )">
                    <i class="icon ion-play"></i>
                    {{'start' | i18n}}
                </button>
                <button class="button" data-ng-click="reorderRoute(route.DistributionId, route.RouteId, route.Part )">
                    <i class="icon ion-drag"></i>
                    {{'prepare' | i18n}}
                </button>
            </div>

        </div>
        
        <div class="list card" data-ng-repeat="district in data.Districts" data-ng-click="districtShow(district.DistributionId, district.DistrictId)">

            <div class="item item-icon-{{appSide}} item-energized  ">
                <i class="icon ion-earth"></i>
                <div class="white-space-wrap">{{'district' | i18n}} {{ district.DistrictName }}</div>
                <span class="">{{district.DistributionDate | referenceDate}}</span>
            </div>

            <div class="item item-icon-{{appSide}}">
                <i class="icon ion-pull-request"></i>
                {{'stops' | i18n}}
                {{ district.StopsDelivered}}/{{district.StopsTotal}}
            </div>
            <div class="item item-icon-{{appSide}}">
                <i class="icon ion-paper-airplane"></i>
                {{'routes' | i18n}}
                {{ district.RouteStarted}}/{{district.RoutesTotal}}
            </div>

        </div>

    </ion-content>

</ion-view>