<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <meta http-equiv="Content-Security-Policy" content="default-src gap://ready file://* *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *;img-src 'self' https://csi.gstatic.com data:;connect-src 'self' https://ssl.gstatic.com https://build.phonegap.com http://intelectsb.cloudapp.net https://apps.intelect.co.il http://192.168.1.222:81 http://placehold.it content://media/external/images/media *">

    <title></title>

    <link href="lib/ionic/css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- google maps javascript -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=true&key=AIzaSyCUX-tA-fRN0YfllXLjZmTbSv5DdbIdQbA"></script>-->
    <!--<script src="https://ssl.geoplugin.net/javascript.gp?k=42d94b2ca8983898" type="text/javascript"></script>-->
    <script src="scripts/central.util.js"></script>
    <!-- app js -->
    <script src="scripts/moment-with-locales.min.js"></script>
    <script src="scripts/lodash.compat.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controller/signinController.js"></script>
    <script src="js/controller/menuController.js"></script>
    <script src="js/controller/homeController.js"></script>
    <script src="js/controller/routeOrderController.js"></script>
    <script src="js/controller/deliveryController.js"></script>
    <script src="js/controller/routeItemController.js"></script>
    <script src="js/controller/aboutController.js"></script>
    <script src="js/controller/changePasswordController.js"></script>
    <script src="js/controller/districtController.js"></script>
    <script src="js/controller/mapController.js"></script>
    <script src="js/controller/notificationController.js"></script>

    <!--Modules-->
    <script src="js/modules/geolocation.js"></script>


    <script src="js/services/angular-local-storage.js"></script>
    <!--<script src="js/services/geolocationService.js"></script>-->
    <script src="js/services/localizeService.js"></script>
    <script src="js/services/unitFormatService.js"></script>
    <script src="js/services/loaderService.js"></script>
    <script src="js/services/districtService.js"></script>

    <script src="js/services/userService.js"></script>
    <script src="js/services/assignmentsService.js"></script>
    <script src="js/services/routeService.js"></script>
    <script src="js/services/initRouteService.js"></script>
    <script src="js/services/routeOrderStateService.js"></script>
    <script src="js/directives/autoFocus.js"></script>
    <script src="js/services/notificationService.js"></script>
    <script src="js/services/multiplePopupService.js"></script>

    <script src="js/filters.js"></script>
    <script src="js/interceptor/responseObserver.js"></script>
    <script src="scripts/richmarker.js"></script>

    <!--<script>
        function onLoad(){
            //console.log('load');
        document.addEventListener("deviceready", onDeviceReady, false);
        }
    function onDeviceReady() {
        //console.log(navigator.camera);
        //alert(navigator.camera);
    }
    </script>-->
</head>

<body ng-app="myApp" data-ng-style="{{appDirection}}" class="platform-ios platform-cordova platform-webview">
    <ion-nav-view ></ion-nav-view>
</body>
</html>
